.newsletter-container h1 {
  background: transparent;
  border-bottom: none;
  text-align: center;
  color: #222;
}

.newsletter-box {
  max-width: 100%;
  height: auto;
  border: 1px solid #cecece;
  padding: 1rem 0;
  margin-top: 1rem;
}

.newsletter-form-box {
  padding: 0;
}

.newsletter-form-box p {
  color: #222;
  font-size: 1.3rem;
  text-align: center;
}
.newsletter-form-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1rem 0;
}

.agreement {
  display: block;
  margin-top: 1rem;
}
.recaptcha-center {
  display: flex;
  justify-content: center;
}

.btn.btn-orange-c {
  padding: 0.6rem 2rem;
  text-align: center;
  background: none;
  background-color: #ff8941;
  color: #1f272b;
  font-weight: 700;
  font-family: "Aldrich";
  font-size: 1.1rem;
  text-shadow: none;
  border: 1px solid #1f272b;
  transition: all 0.2s;
  margin-top: -15px;
  border-radius: 3%;
}

.btn.btn-orange-c:active,
.btn.btn-orange-c:focus,
.btn.btn-orange-c:hover {
  background-color: #1f272b;
  color: #ff8941;
  border: 1px solid #ff8941;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(3rem);
  padding: 0.375rem 0.75rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 3%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (max-width: 769px) {
  .newsletter-form-bottom {
    flex-direction: column;
    margin: 2rem 0 2rem 0;
  }
  .newsletter-box {
    border: none;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin-top: 0rem;
  }
  .btn.btn-orange-c {
    margin: 1rem 0 6rem;
  }
  .newsletter-form-box p {
    color: #222;
    font-size: 1.1rem;
    text-align: start;
  }
}

@media (max-width: 1280px) {
  .newsletter-form-bottom {
    flex-direction: column;
    margin: 2rem 0 2rem 0;
  }
}
