.wrapper_main {
  height: 100%;
  width: 100%;
  position: relative;
  align-items: stretch;
  display: flex;
  background-color: #fff;
}

.content-container {
  margin: 0;
  overflow: auto;
  margin-top: 3.5rem;
  color: #fff;
  padding: 0 1rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  letter-spacing: 0.8px;
  width: 100%;
  height: 100vh;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.content-container::-webkit-scrollbar {
  width: 6px;
}

.content-container::-webkit-scrollbar-thumb {
  background: rgb(250, 135, 65);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgb(250, 135, 65);
  border-radius: 0px;
}
.content-container.expand {
  margin-top: 0;
}

.main-holder p {
  color: #222;
  text-align: start;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.wrapper_main h1 {
  color: #ff8941;
  font-size: 1.8rem;
  font-family: "Aldrich", sans-serif;
  border-bottom: 1px solid #e5e5e5;
  background: #1f272b;
  margin-bottom: none;
  margin-top: 1rem;
  margin-bottom: 0;
}

.spacer-home {
  padding: 1.5rem;
}

.latest-post-container {
  padding: 1rem;
  padding-bottom: 0;
  background: #fff;
}

.top-article-container {
  padding: 1rem;
  padding-bottom: 0;
  background: #fff;
  color: #fff;
}

.top-article-container img {
  margin-top: 0;
}

.top-article-container p {
  color: #222;
  text-align: start;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding-top: 0.5rem;
}

.main-holder {
  padding: 0rem;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  color: #222;
  margin-bottom: 1rem;
}

.update-available {
  color: black;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.main-holder .spinner-loader h2 {
  font-size: 1.7rem;
}
.main-holder .latest-post-title,
.top-article-container .latest-post-title {
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  background: transparent;
  border: none;
  color: #222;
  margin-top: 0;
}

.bottom-bar {
  border-bottom: 1px solid #e5e5e5;
}
.side-bar {
  border-left: 1px solid #e5e5e5;
}

.img-responsive.author-avatar-small {
  max-width: 25px;
  border-radius: 50%;
  margin-left: 0rem;
}
.img-responsive.article-thumbnail {
  max-width: 100%;
}

.article-box-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
}

.article-info-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  width: 100%;
  margin: 0;
  font-size: 1.1rem;
}

.article-info-div .article-info-itm:first-child {
  padding: 0.5rem;
}

.article-info-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
}
.article-info-itm {
  color: #676767;
  font-weight: 700;
  padding: 0 1rem;
}

.spacer-article-box {
  flex: 1;
}
.article-info-itm span {
  padding-left: 0.5rem;
}

.article-info-preview p {
  padding: 1rem;
  font-size: 1.3rem;
}
@media (max-width: 812px) {
  .main-holder .latest-post-title,
  .top-article-container .latest-post-title {
    font-size: 1.3rem;
  }
  .content-container {
    background-color: #fff;
    margin: 2.5rem 0rem;
    padding: 0;
    padding-left: 6px;
  }
  .article-info-preview p {
    padding: 1rem;
    padding-bottom: 0;
  }
  .article-info-div {
    margin-bottom: 1rem;
  }

  .top-article-container p {
    padding-top: 0.5rem;
    padding: 0.5rem;
  }
  .main-holder {
    padding: 0rem;
  }
}

@media (max-width: 374px) {
  .content-container {
    height: 99vh;
  }
  .article-info-itm {
    padding: 0 5px;
    font-size: 0.9rem;
  }
  .article-info-div {
    margin-bottom: 1rem;
  }
  .article-info-preview p {
    padding: 1rem 0.25rem;
    padding-bottom: 0;
  }
  .wrapper_main h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1537px) {
  .article-info-preview p {
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 16px;
  }
  .main-holder .latest-post-title,
  .top-article-container .latest-post-title {
    font-size: 1.2rem;
  }
  .article-info-div {
    padding: 0;
    font-size: 0.9rem;
  }
  .top-article-container p {
    font-size: 14px;
  }
  .wrapper_main h1 {
    font-size: 1.5rem;
  }
}

.article-thumbnail-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ads-container {
  overflow: hidden;
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.advertisement {
  padding: 7px 0 12px;
  padding-bottom: 2rem;
}

.advertisement span {
  color: #ccc;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  display: block;
  margin-bottom: 7px;
  text-transform: uppercase;
}
