.videos-container-p {
  margin: 2rem auto;
}

.video-item-p {
  padding: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
  color: #222;
  border: 1px solid #cecece;
}

.video-item-p h1 {
  background: transparent;
  color: #222;
  min-height: 65px;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
}

.video-item-p span {
  font-weight: 700;
}
.content-container .title-sample {
  background: transparent;
  color: #222;
  border: none;
  margin-top: 2rem;
}

@media (max-width: 414px) {
  .noPaddingMobile {
    padding-left: 0;
    padding-right: 0;
  }
}
