.article-m-container {
  margin: 1rem 0;
}
.article-container {
  color: #222;
  padding: 0 0.5rem;
  margin-top: 1rem;
  border-right: 1px solid #cecece;
  border-left: 1px solid #cecece;
}

.article-content-div p {
  color: #222;
  font-weight: normal;
  font-size: 1.3rem;
  padding: 1rem 2rem;
}

blockquote {
  margin: 0 0 1rem 1rem;
  font-size: 1.1rem;
  border-left: 5px solid #ff8940;
  padding: 0;
  margin-top: 1rem;
  line-height: 1.7rem;
  font-style: italic;
}

.comment__header .author.publisher-anchor-color a {
  font-weight: 700;
  color: red !important;
}

.share-social-media {
  height: auto;
  max-width: 100%;
  padding: 0;
  position: fixed;
  left: 0;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
  color: #222;
}

.share-social-media .SocialMediaShareButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.share-social-media i {
  width: 52px;
  height: 45px;
  font-size: 1.4rem;
  padding: 0;
  background-color: rgb(211, 67, 255);
  margin-bottom: 0rem;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.share-social-media .fab.fa-facebook-f {
  background-color: #3b5998;
}

.share-social-media .fab.fa-facebook-f:hover {
  background-color: #1f272b;
  color: #ff8941;
}

.share-social-media .fab.fa-twitter {
  background-color: #55acee;
}

.share-social-media .fab.fa-twitter:hover {
  background-color: #1f272b;
  color: #ff8941;
}

.share-social-media .fab.fa-linkedin {
  background: #007bb5;
}

.share-social-media .fab.fa-linkedin:hover {
  background-color: #1f272b;
  color: #ff8941;
}

.share-social-media .fab.fa-whatsapp {
  background: #25d366;
}

.share-social-media .fab.fa-whatsapp:hover {
  background-color: #1f272b;
  color: #ff8941;
}

.share-social-media .fab.fa-pinterest {
  background: #cb2027;
}

.share-social-media .fab.fa-pinterest:hover {
  background-color: #1f272b;
  color: #ff8941;
}

.share-social-media .fab.fa-reddit {
  background: #ff5700;
}

.share-social-media .fab.fa-reddit:hover {
  background-color: #1f272b;
  color: #ff8941;
}

.share-social-media .fab.fa-tumblr {
  background: #2c4762;
}

.share-social-media .fab.fa-tumblr:hover {
  background-color: #1f272b;
  color: #ff8941;
}

.share-social-media i:hover {
  background-color: #1f272b;
  color: #ff8941;
}

.share-social-media.mobile {
  height: 44px;
  width: 100%;
  max-width: 100%;
  background: #1f272b;
  padding: 0;
  margin: 0;
  position: fixed;
  left: 0px;
  top: 87.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 3rem;
  color: #222;
  z-index: 25;
}

.article-content-div h1 {
  background: transparent;
  color: #222;
  font-family: "Ubuntu";
  border: none;
  text-align: center;
}
@media (max-width: 768px) {
  .share-social-media {
    display: none;
  }
}

@media (max-width: 812px) {
  .article-content-div p {
    padding: 1rem 0.5rem;
  }
  .social-media-share-box {
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 0;
    left: 0;
    z-index: 999;
  }

  .social-media-share-box i {
    height: 35px;
    width: 100%;
    color: #fff;
    border: 1px solid #222;
    background-color: rgb(211, 67, 255);
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
